<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>53242696966-26ejds7mc32qcuhkp10m0kkhgmu2i9q6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.53242696966-26ejds7mc32qcuhkp10m0kkhgmu2i9q6</string>
	<key>API_KEY</key>
	<string>AIzaSyCj9Z-9IMd418jsVkXtts-Mitkb8Wx9BkE</string>
	<key>GCM_SENDER_ID</key>
	<string>53242696966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cje.BookRecApp</string>
	<key>PROJECT_ID</key>
	<string>bookrecapp</string>
	<key>STORAGE_BUCKET</key>
	<string>bookrecapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:53242696966:ios:08183981afed6c3ad57a87</string>
	<key>FirebaseAutomaticScreenReportingEnabled</key>
	<false/>
	<key>DATABASE_URL</key>
	<string>https://bookrecapp-default-rtdb.firebaseio.com</string>
</dict>
</plist>
